
//>>>>> Video Animation Start <<<<<//
@-webkit-keyframes video-animation {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}
@keyframes video-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      opacity: 0;
      transform: scale(2);
	 } 
}

@-webkit-keyframes rippleOne {
    70% {
        -webkit-box-shadow: 0 0 0 40px rgba(244, 68, 56, 0);
        box-shadow: 0 0 0 40px rgba(244, 68, 56, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
        box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
    }
}

@keyframes rippleOne {
    70% {
        -webkit-box-shadow: 0 0 0 40px rgba(244, 68, 56, 0);
        box-shadow: 0 0 0 40px rgba(244, 68, 56, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
        box-shadow: 0 0 0 0 rgba(244, 68, 56, 0);
    }
}
//>>>>> Video Animation End <<<<<//

//>>>>> Circle Animation Start <<<<<//
@keyframes cir36 {
    100%{
        transform: rotate(360deg);
    }
}
//>>>>> Circle Animation End <<<<<//



//>>>>> Preloader Animation Start <<<<<//
 @-webkit-keyframes spinner {
	to {
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
}

@keyframes spinner {
	to {
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
}

@-webkit-keyframes letters-loading {
	0%,
	75%,
	100% {
		opacity: 0;
		transform: rotateY(-90deg);
	}
	25%,
	50% {
		opacity: 1;
		transform: rotateY(0deg);
	}
}

@keyframes letters-loading {
	0%,
	75%,
	100% {
		opacity: 0;
		transform: rotateY(-90deg);
	}
	25%,
	50% {
		opacity: 1;
		transform: rotateY(0deg);
	}
}

//>>>>> Preloader Animation Start <<<<<//
@keyframes loaderspin {
	0% {
	  transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
	  transform: translate(-50%, -50%) rotate(360deg);
	}
}


@keyframes tpswing{
	0% {
    -webkit-transform: rotate(25deg);
    -ms-transform:rotate(25deg);
    transform: rotate(25deg);
	}
    100% { 
      -webkit-transform: rotate(0deg);
      -ms-transform:rotate(0deg);
      transform: rotate(0deg);
	}
}


@keyframes width {
	0% {
	  width: 0%;
	}
	100% {
	  width: 100%;
	}
}

@-webkit-keyframes width {
	0% {
		width: 0%;
	  }
	  100% {
		width: 100%;
	}
}

@-webkit-keyframes loaderspin {
0% {
	transform: translate(-50%, -50%) rotate(0deg);
}
100% {
	transform: translate(-50%, -50%) rotate(360deg);
}
}

@keyframes loaderpulse {
0% {
	transform: scale(1);
}
100% {
	transform: scale(1.2);
}
}
//>>>>> Preloader Animation End <<<<<//


@-webkit-keyframes scale-up-one {
	0%   {-webkit-transform: scale(1);transform: scale(1);}
	40%  {-webkit-transform: scale(0.5);transform: scale(0.5);}
	100% {-webkit-transform: scale(1);transform: scale(1);}
  }
  @keyframes scale-up-one {
	0%   {-webkit-transform: scale(1);transform: scale(1);}
	40%  {-webkit-transform: scale(0.5);transform: scale(0.5);}
	100% {-webkit-transform: scale(1);transform: scale(1);}
  }
  @-webkit-keyframes scale-up-two {
	0%   {-webkit-transform: scale(0.5);transform: scale(0.5);}
	40%  {-webkit-transform: scale(0.8);transform: scale(0.8);}
	100% {-webkit-transform: scale(0.5);transform: scale(0.5);}
  }
  @keyframes scale-up-two {
	0%   {-webkit-transform: scale(0.5);transform: scale(0.5);}
	40%  {-webkit-transform: scale(0.8);transform: scale(0.8);}
	100% {-webkit-transform: scale(0.5);transform: scale(0.5);}
  }
  @-webkit-keyframes scale-up-three {
	0%   {-webkit-transform: scale(0.7);transform: scale(0.7);}
	40%  {-webkit-transform: scale(0.4);transform: scale(0.4);}
	100% {-webkit-transform: scale(0.7);transform: scale(0.7);}
  }
  @keyframes scale-up-three {
	0%   {-webkit-transform: scale(0.7);transform: scale(0.7);}
	40%  {-webkit-transform: scale(0.4);transform: scale(0.4);}
	100% {-webkit-transform: scale(0.7);transform: scale(0.7);}
  }


  
@keyframes bounce {
	0%,
	100% {
		transform: scale(0);
		-webkit-transform: scale(0);
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes movebounce {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	50% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@keyframes movebounce {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	50% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}
@-webkit-keyframes bounceUp {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	50% {
		-webkit-transform: translateY(40px);
		transform: translateY(40px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@keyframes bounceUp {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	50% {
		-webkit-transform: translateY(40px);
		transform: translateY(40px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@-webkit-keyframes moveleftbounce {
	0% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
	50% {
		-webkit-transform: translateX(40px);
		transform: translateX(40px);
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}

@keyframes moveleftbounce {
	0% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
	50% {
		-webkit-transform: translateX(40px);
		transform: translateX(40px);
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}

@-webkit-keyframes moverightbounce {
	0% {
		margin-left: 0px;
	}
	50% {
		margin-left: 50px;
	}
	100% {
		margin-left: 0px;
	}
}

@keyframes moverightbounce {
	0% {
		margin-left: 0px;
	}
	50% {
		margin-left: 50px;
	}
	100% {
		margin-left: 0px;
	}
}

@-webkit-keyframes bounce-y {
	0% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
	50% {
	  -webkit-transform: translateY(-30px);
			  transform: translateY(-30px);
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
  }
  @keyframes bounce-y {
	0% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
	50% {
	  -webkit-transform: translateY(-30px);
			  transform: translateY(-30px);
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
  }
  @-webkit-keyframes bounce-x {
	0% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
	50% {
	  -webkit-transform: translateX(30px);
			  transform: translateX(30px);
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
  }
  @keyframes bounce-x {
	0% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
	50% {
	  -webkit-transform: translateX(30px);
			  transform: translateX(30px);
	}
	100% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
  }

  .bounce-y {
	-webkit-animation: bounce-y 10s infinite linear;
			animation: bounce-y 10s infinite linear;
  }
  
  .bounce-x {
	-webkit-animation: bounce-x 10s infinite linear;
			animation: bounce-x 10s infinite linear;
  }


  @keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
}

@keyframes right-image-bounce {
    0% {
      transform: translateX(8px);
    }
    50% {
      transform: translateX(-12px);
    }
    100% {
      transform: translateX(8px);
    }
}

@keyframes top-image-bounce {
    0% {
      transform: translateY(8px);
    }
    50% {
      transform: translateY(-12px);
    }
    100% {
      transform: translateY(8px);
    }
}