//>>>>> Header Top Start <<<<<//
.header-top-wrapper {
	@include flex;
	justify-content: space-between;
	margin-left: 240px;
	border-left: 1px solid $border-color-2;
	border-bottom: 1px solid $border-color-2;
	padding: 0 20px;

	@include breakpoint(max-xl){
		display: none;
	}

	@include breakpoint(max-xxl){
		margin-left: 0;
	}

	.contact-list {
		@include flex;
		gap: 30px;

		li {
			font-size: 14px;
			color: $theme-color;

			i {
				color: $theme-color-2;
				margin-right: 10px;
				font-weight: 900;
			}

			span {
				font-weight: 500;
			}
		}
	}

	span {
		font-size: 14px;
		color: $theme-color;

		a {
			font-weight: 500;
			color: $theme-color-2;
			text-decoration-line: underline;
		}
	}

	.top-left {
		gap: 25px;

		.form-clt {
			border-left: 1px solid $border-color-2;
			position: relative;
			z-index: 99999;

			.nice-select {
				background-color: transparent;
				z-index: 999;

				span {
					font-size: 14px;
					color: $theme-color;
					font-weight: 400;
					text-transform: uppercase;
				}
			}
		}
	}

	&.top-2 {
		margin-left: 0;
		border-right: 1px solid $border-color-2;
	}
}

.header-top-4 {
	position: relative;
	background-color: $black;
	padding: 15px 0;
	z-index: 9;

	@include breakpoint (max-lg){
		display: none;
	}

	&::before {
		@include before;
		background-color: $theme-color-2;
		width: 40%;
		z-index: -1;
		clip-path: polygon(0 0, 96% 0, 100% 99%, 0% 100%);
	}

	.container-fluid {
		padding: 0 100px;

		@include breakpoint (max-xl){
			padding: 0 20px;
		}
	}
}

.header-top-wrapper-4 {
	@include flex;
	justify-content: space-between;

	.header-top-left {
		p {
			color: $white
		}
	}

	.header-top-right {
		@include flex;
		gap: 40px;

		.contact-list {
			@include flex;
			gap: 40px;

			li {
				
				a {
					color: $white;
				}

				i {
					margin-right: 5px;
					color: $white;
				}
			}
		}

		.social-icon {
			gap: 15px;

			i {
				color: $white;
			}
		}
	}
}

//>>>>> Header Main Area Start <<<<<//
.header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	.main-menu {
		ul {
			margin-bottom: 0;
			li {
				position: relative;
				list-style: none;
				display: inline-block;
				margin-inline-end: 30px;
	
			&:last-child {
				margin-inline-end: 0;
			}
	
			a {
				display: inline-block;
				font-size: 14px;
				font-weight: 500;
				color:  $theme-color;
				padding: 30px 0;
				text-align: left;
				position: relative;
				text-transform: uppercase;
				@include transition;
	
				i {
					font-size: 14px;
					font-weight: 500;
					margin-left: 5px;
				}
	
				&:hover {
					color: $theme-color-2 !important;
				}
	
			}
			.submenu {
				position: absolute;
				top: 100%;
				inset-inline-start: 0;
				min-width: 240px;
				background: $white;
				z-index: 99999;
				visibility: hidden;
				opacity: 0;
				transform-origin: top center;
				color:  $theme-color;
				box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
				-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
				-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
				transform: translateY(10px);
				@include transition;
				
				li {
					display: block;
					width: 100%;
					margin: 0;
					padding: 0;
	
					a {
						position: relative;
						z-index: 11;
						color: $theme-color;
						font-weight: 500;
						font-size: 14px;
						padding: 0 25px;
						padding-bottom: 11px;
						padding-top: 11px;
						width: 100%;
						border-bottom: 1px solid #eeeeee;
					}
					&:last-child {
						a {
							border: none;
						}
					}
					.submenu {
						inset-inline-start: 100%;
						top: 0;
						visibility: hidden;
						opacity: 0;
					}
					&:hover {
						>a {
							background: #ECECEC;
							&::after {
								color: $theme-color-2;
							}
						}
						>.submenu {
							-webkit-transform: translateY(1);
							-moz-transform: translateY(1);
							-ms-transform: translateY(1);
							-o-transform: translateY(1);
							transform: translateY(1);
							visibility: visible;
							opacity: 1;
						}
					}
				}
				li.has-dropdown {
					>a {
						&::after {
							position: absolute;
							top: 50%;
							inset-inline-end: 25px;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
							color: $theme-color;
						}
					}
				}
			}

			.has-homemenu {
				width: 1200px;
				padding: 30px 30px 10px 30px;
				opacity: 0;
				left: -50px;
				visibility: hidden;
				padding: 30px 30px 10px 30px;

				.homemenu {
					position: relative;

					.homemenu-thumb {
						position: relative;

						.demo-button {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							width: 80%;
							gap: 10px;
							display: flex;
							justify-content: center;
							flex-direction: column;
							opacity: 0;
							visibility: hidden;
							@include transition;
							margin-top: 20px;

							.theme-btn {
								padding: 12px 15px;
								color: $white !important;
								width: initial;
								font-size: 14px;
								text-align: center;

								span {
									font-size: 14px;
								}

								&:hover {
									color: $white !important;
								}
							}
						}

						&::before {
							background: -webkit-gradient(linear, left top, left bottom, from(rgba(99, 92, 92, 0)), to(#292930));
							background: linear-gradient(to bottom, rgba(99, 92, 92, 0) 0%, #292930 100%);
							background-repeat: no-repeat;
							background-size: cover;
							background-position: center;
							width: 100%;
							height: 100%;
							position: absolute;
							left: 0;
							top: 0;
							overflow: hidden;
							opacity: 0;
							-webkit-transition: all 0.3s ease-in-out;
							transition: all 0.3s ease-in-out;
							content: "";
						}
						&:hover{

							&::before {
								visibility: visible;
								opacity: 1;
							}

							.demo-button {
								opacity: 1;
								visibility: visible;
								margin-top: 0;
							}
							& .homemenu-btn {
								opacity: 1;
								visibility: visible;
								bottom: 50%;
								transform: translateY(50%);
							}
						}
						img {
							width: 100%;
						}
					}

					.homemenu-title {
						text-align: center;
						margin: 15px auto;
						display: inline-block;
						font-size: 12px;
					}
				}
			}
			
			&:hover {
				>a {
					color:  $theme-color;
					&::after {
						color:  $theme-color;
					}
				}
				>.submenu {
					visibility: visible;
					opacity: 1;
					transform: translateY(0px);
				}
			  }
			}
		}
	}
}

.menu-thumb {
	@include breakpoint (max-xxl){
		display: none !important;
	}
}

.header-1 {
	position: relative;
	z-index: 9999;
	overflow-x: clip;

	.header-logo {
		position: absolute;
		top: 0;
		left: 45px;

		@include breakpoint(max-xxl){
			margin-top: 30px;
		}
	}

	.header-main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: 240px;
		border-left: 1px solid $border-color-2;
		padding-left: 50px;
	
		@include breakpoint(max-xl){
			border: none;
		}

		.main-menu {
			ul {
				li {
					.has-homemenu {

						@include breakpoint(max-xxl){
							left: -250px;
						}
					}
				}
			}
		}
	}

	.bar-icon {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
		font-size: 22px;
		transform: scaleX(-1);
	}

	.header-right {
		gap: 20px;
		
		.header-button {
			@include breakpoint(max-xl){
				display: none;
			}
		}

		.header__hamburger {
			.sidebar__toggle {
				.bar-icon {
					background-color: $theme-color;
					padding: 25px;
					width: 80px;
					height: 80px;
					line-height: 80px;
				}
			}
		}
	}
}

.header-2 {
	@include breakpoint(max-lg){
		padding: 15px 0;
	}

	.header-main {
		.header-button {
			@include breakpoint(max-xl){
				display: none;
			}
		}

		.main-menu {
			ul {
				li {

				.has-homemenu {
					left: -300px;
					}
				}
			}
		}
	}
}

.header-3 {
	position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 999;

	.header-top-text {
		padding: 10px 0;
		
		span {
			font-size: 14px;
			color: $white;
			text-transform: uppercase;
	
			a {
				font-weight: 500;
				text-decoration: underline;
				color: $white;
			}
		}
	}

	.mega-menu-wrapper {
		.header-main {
			background: rgba(255, 255, 255, 0.01);
			box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.40);
			backdrop-filter: blur(20px);
			padding: 0 30px;

			@include breakpoint(max-xxl){
				padding: 0 20px;
			}

			.header-left {
				display: flex;
				align-items: center;
				gap: 40px;

				@include breakpoint (max-xl) {
					gap: 0;
				}

				@include breakpoint (max-lg) {
					padding: 20px 0;
				}

				.sidebar__toggle {
					border-right: 1px solid $theme-color-2;
					padding-right: 30px;

					@include breakpoint (max-xl) {
						display: none;
					}

					.bar-2 {
						display: none;
					}
				}

				.header-logo {
					.logo-2 {
						display: none;
					}
					@include breakpoint (max-xl) {
						margin-right: 40px;
					}
				}

				.main-menu {
					ul {
						li {
							@include breakpoint(max-xxl){
								margin-inline-end: 20px;
							}
							a {
								color: $white;

								&:hover {
									color: $theme-color-2;
								}
							}

							.submenu {
								li {
									a {
										color: $theme-color;
									}
								}
							}
						}
					}
				}
			}

			.header-right {
				.header-button {
					display: none;
					@include breakpoint(max-xl){
						display: none;
					}
				
				}
				.header-content {
					text-align: right;

					@include breakpoint(max-xl){
						display: none;
					}

					span {
						font-size: 14px;
						color: $white;
					}

					h5 {
						a {
							color: $white;
							&:hover {
								color: $theme-color-2;
							}
						}
					}
				}

				.sidebar__toggle {

					@include breakpoint (max-xl) {
						.bar-2 {
							display: none;
						}
					}

				}
			}
		}
	}

	.main-menu {
		ul {
			li {

			.has-homemenu {
				left: -330px;
				}
			}
		}
	}
}

.header-4 {
	.container-fluid {
		padding: 0 100px;

		@include breakpoint (max-xl){
			padding: 20px 20px;
		}
	}

	.header-main {
		.main-menu {
			ul {
				li {
					.has-homemenu {

						@include breakpoint(max-xl4){
							left: -250px;
						}
					}
				}
			}
		}

		.header-right {
			gap: 40px;

			.header-button {
				@include breakpoint (max-xl){
					display: none;
				}
			}
		}
	}
}

.header-5 {
	position: absolute;
    z-index: 99;
    overflow-x: clip;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #36343c;

	.container-fluid {
		padding: 0 100px;

		@include breakpoint (max-xl){
			padding: 0 20px;
		}

		@include breakpoint (max-lg){
			padding: 15px 20px;
		}
	}

	.mega-menu-wrapper {
		.header-main {
			@include breakpoint (max-xl){
				gap: 20px;
			}

			.header-logo-2 {
				display: none;
			}

			.header-left {
				.mean__menu-wrapper {
					.main-menu {
						li {

							@include breakpoint (max-xl){
								margin-inline-end: 20px;
							}

							a {
								color: $white;
							}

							.submenu {
								li {
									a {
										color: $header-color;
									}
								}
							}
						}
					}
				}
			}

			.header-right {
				gap: 30px;

				.search-icon {
					color: $white;
				}

				.header__hamburger {
					.sidebar__toggle {
						color: $white;
					}
				}
			}
		}
	}

	.header-main {
		.main-menu {
			ul {
				li {
					.has-homemenu {
						left: -400px;

						@include breakpoint(max-xxl){
							left: -400px;
						}
					}
				}
			}
		}
		
		.header-right {
			gap: 40px;

			.header-button {
				@include breakpoint (max-xl){
					display: none;
				}
			}
		}
	}
}

//>>>>> Sticky Start <<<<</
.sticky {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	width: 100%;
	z-index: 9999;
	transition: all 0.9s;
	background-color: $white;
	box-shadow: 0px 0px 62px 0px rgba(0, 22, 89, 0.17);
	transition: all 0.9s;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;

	.header-logo {
		top: 28px;

		@include breakpoint(max-xxl){
			margin-top: 0;
		}
	}

	&.header-5 {
		border-bottom: none;

		.mega-menu-wrapper {
			.header-main {
                padding: 0px 0px;

                @media (max-width: 991px) {
                    padding: 12px 0px !important;
                }

				.header-logo-2 {
					display: block;
				}
				.header-logo {
					display: none;
				}
				.header-left {
					.mean__menu-wrapper {
						.main-menu {
							li {
								a {
									color: $header-color;
								}
	
								.submenu {
									li {
										a {
											color: $header-color;
										}
									}
								}
							}
						}
					}
				}

				.header-right {
					gap: 30px;
	
					.search-icon {
						color: $header-color;
					}
	
					.cart-icon {
						color: $header-color;
					}

					.header__hamburger {
						.sidebar__toggle {
							color: $header-color;
						}
					}
				}
			}
		}
	}

	&.header-3 {
		.header-top-text {
			display: none;
		}
		.mega-menu-wrapper{
			.header-main {
				background: none;
				box-shadow: none;
				backdrop-filter: none;
				padding: 0;

				.header-left {
					.sidebar__toggle {
						.bar-1 {
							display: none;
						}

						.bar-2 {
							display: block;
						}
					}

					.header-logo {
						.logo-1 {
							display: none;
						}

						.logo-2 {
							display: block;
						}
					}

					.mean__menu-wrapper {
						.main-menu {
							ul {
								li {
									a {
										color: $theme-color;
									}
								}
							}
						}
					}
				}

				.header-right{

					@include breakpoint (max-xl) {
						.bar-2 {
							display: block;
						}
						.bar-1 {
							display: none;
						}
					}

					.header-button {
						display: block;

						@include breakpoint (max-xl) {
							display: none;
						}
					}
					.header-content {
						display: none;
					}
				}
			}
		}
	}
	
}

//>>>>> Offcanvas Start <<<<<//
.offcanvas__info {
	background: $white none repeat scroll 0 0;
	border-left: 2px solid  $theme-color-2;
	position: fixed;
	right: 0;
	top: 0;
	width: 400px;
	height: 100%;
	-webkit-transform: translateX(calc(100% + 80px));
	-moz-transform: translateX(calc(100% + 80px));
	-ms-transform: translateX(calc(100% + 80px));
	-o-transform: translateX(calc(100% + 80px));
	transform: translateX(calc(100% + 80px));
	-webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	-moz-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	z-index: 999990;
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scrollbar-width: none;
	cursor: pointer;

	&::-webkit-scrollbar {
		display: none;
	}
}

.offcanvas__info.info-open {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.offcanvas__logo {
	a {
		img {
			width: 150px;
		}
	}
}

.offcanvas__wrapper {
	position: relative;
	height: 100%;
	padding: 30px 30px;

	.offcanvas__content {
		.text {
			color: $text-color;
		}

		.offcanvas__close {
			width: 45px;
			height: 45px;
			line-height: 45px;
			text-align: center;
			border-radius: 50%;
			background-color: $theme-color-2;

			i {
				color: $white;
			}
		}

		.offcanvas__contact {
			margin-top: 20px;
			ul {
				margin-top: 30px;
				li {
					&:not(:last-child){
						margin-bottom: 15px;
					}
					.offcanvas__contact-icon {
						margin-right: 20px;
						i {
							color: $theme-color-2;
						}
					}
				}
			}

			.header-button {
				.theme-btn {
					width: 100%;
				}
			}

			.social-icon {
                margin-top: 40px;
                gap: 10px;

                a {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    font-size: 16px;
                    display: block;
                    background: transparent;
                    color: $theme-color;
                    border-radius: 50%;
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    text-align: center;
                    border: 1px solid $border-color-2;

                    &:hover {
                        background-color: $theme-color-2;
                        color: $white;
                    }
                }
            }
		}
	}
}

.offcanvas__overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #151515;
	z-index: 99999;
	top: 0;
	opacity: 0;
	visibility: hidden;
	right: 0;
}

.offcanvas__overlay.overlay-open {
	opacity: 0.8;
	visibility: visible;
}

@media (max-width:450px) {
	.offcanvas__info {
		width: 300px;
	}
}

@media (max-width: 575px) {
	.offcanvas__wrapper {
		padding: 20px;
	}
}


//>>>>> Breadcrumb Start <<<<<//
.breadcrumb-wrapper{
	position: relative;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	overflow: hidden;

	&::before{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: "";
		width: 100%;
		height: 100%;
		opacity: 0.8;
        background-image: linear-gradient(90deg, rgba(17, 17, 17, 0.80) 0%, rgba(155, 155, 155, .1) 100%);
	}

	.page-heading{
		position: relative;
		padding-top: 300px;
		padding-bottom: 215px;

		@include breakpoint(max-xl){
            padding-top: 220px;
			padding-bottom: 60px;
        }

        @include breakpoint(max-md){
            padding-top: 160px;
            padding-bottom: 40px;
        }

        @include breakpoint(max-sm){
            padding-top: 150px;
			padding-bottom: 30px;
        }

		.icon-shape {
			position: absolute;
			bottom: 18%;
			left: 30%;

			@include breakpoint(max-xl){
				display: none;
			}
		}

		span {
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 500;
			color: $white;
			position: relative;
			z-index: 9;

			img {
				margin-right: 5px;
			}
		}

		h1{
			color: $white;
			font-size: 80px;
			position: relative;
			z-index: 9;
			margin-top: 15px;

            @include breakpoint(max-xl){
               font-size: 52px;
               margin-top: 5px;
            }

			@include breakpoint(max-lg){
				font-size: 48px;
			}

            @include breakpoint(max-md){
                font-size: 36px;
            }

			@include breakpoint(max-sm){
				font-size: 32px;
			}

			span{
				font-size: 60px;
				font-weight: 400;

				@include breakpoint(max-lg){
					font-size: 48px;
				}

                @include breakpoint(max-md){
                    font-size: 36px;
                }

				@include breakpoint(max-sm){
					font-size: 32px;
				}
			}
		}
	}

	.breadcrumb-items{
		padding: 30px 0;
		position: relative;
		@include flex;
		justify-content: center;
		gap: 15px;

		@include breakpoint(max-sm){
			flex-wrap: wrap;
		}

		li{
			font-size: 16px;
			color: $white;;
			text-transform: uppercase;
			a {
				color: #ffffffb3				;
				@include transition;

				&:hover{
					color: $theme-color-2;
				}
			}

			i{
				font-weight: 400;
				font-size: 16px;
			}
		}

		.text{
			text-decoration: underline;
		}
	}

	&.error-page {
		height: 100vh;

		.page-heading {
			padding: 250px 0;

			h1 {
				font-size: 200px;
				color: $white;
				text-transform: uppercase;
				-webkit-text-stroke-width: 2px;
				-webkit-text-stroke-color: $white;
				-webkit-text-fill-color: transparent;

				@include breakpoint(max-lg){
					font-size: 150px;
				}

				@include breakpoint(max-sm){
					font-size: 80px;
				}
			}

			h3 {
				color: $white;
			}
		}
	}

	&.coming-page {
		height: 100vh;

		.page-heading {
			ul {
                @include flex;
                gap: 30px;
				max-width: 650px;
				justify-content: center;
				margin: 30px auto;

                @include breakpoint(max-xl){
                    flex-wrap: wrap;
                }

                li {

                    span {
                        font-size: 42px;
                        color: $white;
						width: 120px;
						height: 120px;
						line-height: 120px;
						border-radius: 50%;
						border: 3px solid $border-color-2;
						display: inline-block;

						@include breakpoint(max-xl){
							width: 80px;
							height: 80px;
							line-height: 80px;
							font-size: 32px;
						}
                    }

                    p {
                        color: $white;
						margin-top: 10px;
						text-transform: uppercase;
                    }
                }
            }

			.form{
				position: relative;
				max-width: 600px;
				margin: 0 auto;
				text-align: center;
				margin-top: 50px;
				overflow: hidden;

				input{
					color: $text-color;
					width: 100%;
					padding: 19px 35% 19px 30px;
					border: none;
					outline: none;
					text-transform: uppercase;
					font-size: 14px;
				}

				.button-area {
					position: absolute;
					top: 0;
					right: 0;

					.theme-btn {
						padding: 25px 45px;
					}
				}
			}

			h1 {
				@include breakpoint(max-sm){
					font-size: 36px;
				}
			}
		}
	}
}
