
.marquee-wrapper {
    background: $white;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin-top: -15px;
    
    &.style-2 {
        text-transform: uppercase;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: var(--theme);
        -webkit-text-fill-color: transparent;
        opacity: 1;
        margin-top: 0;
        margin-bottom: -25px;

        @include breakpoint(max-sm){
            margin-bottom: -7px;
        }

    }
}

.text-slider {
    font-size: 80px;
    height: 100px;
    line-height: 90px;
    font-weight: 600;
    color: $theme-color;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--theme);
    -webkit-text-fill-color: transparent;
    opacity: .5;

    @include breakpoint(max-sm){
        font-size: 50px;
        height: 70px;
    }
}

.marquee-wrapper {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.marquee-inner {
    position: absolute;
    display: inline-flex;
    width: 200%;
}

.marquee-list {
    float: left;
    width: 50%;
}

.marquee-item {
    float: left;
    transition: animation 0.2s ease-out;
}

.marquee-inner.to-left {
    animation: marqueeLeft 25s linear infinite;
}

@keyframes marqueeLeft {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

.marquee-inner.to-right {
    animation: marqueeRight 25s linear infinite;
}

@keyframes marqueeRight {
    0% {
       right : 0;
    }
    100% {
        right: -100%;
    }
}