.single-team-items {
    margin-top: 35px;
    margin-bottom: -6px;

    .team-image {
        position: relative;
        height: 500px;

        @include breakpoint(max-sm){
            height: 380px;
        }

        img {
           max-width: 100%;
           height: 100%;
           object-fit: contain;

           @include breakpoint(max-xxl) {
                max-width: initial;
           }

           @include breakpoint(max-lg) {
            max-width: 100%;
            height: 100%;
           }
        }

        .icon-shape {
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            z-index: -1;
        }

        .social-icon {
            margin-top: 40px;
            gap: 10px;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%,-50%);
            a {
                width: 45px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                font-size: 16px;
                display: block;
                background: $white;
                color: $theme-color;
                border-radius: 50%;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
                text-align: center;
                transform: scaleX(0);
                transition: all 0.4s ease-in-out;
        
                &:hover {
                    background-color: $theme-color-2;
                    color: $white;
                }
            }
        }
    }

    .team-content {
        margin-top: 30px;
        p {
            font-weight: 500;
            color: $theme-color-2;
            text-transform: uppercase;
            font-size: 16px;
        }
        h4 {
            margin-top: 5px;
            a {
                &:hover {
                    color: $theme-color-2;
                }
            }
        }
    }

    &:hover {
        .social-icon {
            a {
                transform: scaleX(1);
            }
        }
    }
}

.team-wrapper {

    @media (min-width: 1220px) {
        margin-right: calc(-100vw / 2 + 1270px / 2);
    }

    .single-team-style-2 {
        margin-bottom: -6px;

        .single-team-items {
            background-color: $theme-color;
            position: relative;
    
            .team-image {
                padding: 30px 30px 0 30px;
                position: relative;
                overflow: hidden;
                z-index: 9;
                text-align: center;
                height: 470px;

                 @include breakpoint(max-sm){
                    height: 400px;
                 }

                img {
                    z-index: 9;
                }
    
                .social-profile {
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    content: "";
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    z-index: 9;
                    display: inline-block;
    
                    .plus-btn {
                        z-index: 2;
                        cursor: pointer;
                        width: 45px;
                        height: 45px;
                        line-height: 45px;
                        text-align: center;
                        font-size: 16px;
                        display: inline-block;
                        background: $white;
                        color: $theme-color;
                        border-radius: 50%;
                        -webkit-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
    
                        &:hover {
                            background-color: $theme-color-2;
                            color: $white;
                        }
                    }
    
                    a {
                        width: 45px;
                        height: 45px;
                        line-height: 45px;
                        text-align: center;
                        font-size: 16px;
                        display: block;
                        background: white;
                        color: $theme-color;
                        border-radius: 50%;
                        -webkit-transition: all .4s ease-in-out;
                        transition: all .4s ease-in-out;
                        opacity: 0;
                        visibility: hidden;
                        text-align: center;
                        margin: 0 auto;
                        margin-top: 10px;
    
                        &:hover {
                            background-color: $theme-color-2;
                            color: $white;
                        }
                    }
    
                    &:hover {
                        a{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
    
            .icon-shape {
                position: absolute;
                top: 60px;
                left: 15px;
                right: 0;
                overflow: hidden;

                @include breakpoint(max-xxl){
                    left: 90px;
                }

                @include breakpoint(max-xl){
                    left: 15px;
                }
            }
        }

        .team-content {
            margin-top: 20px;

            span {
                text-transform: uppercase;
                font-weight: 500;
                color: $theme-color-2;
            }

            h4 {
                a {
                    &:hover {
                        color: $theme-color-2;
                    }
                }
            }
        }
    }

}

.team-section {
    position: relative;

    .line-shape {
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
        img {
            @include imgw;
        }

        @include breakpoint(max-xxl){
           display: none;
        }
    }

    .line-shape-2 {
        position: absolute;
        left: 10%;
        bottom: 0;
        img {
            width: 100%;
        }

        @include breakpoint(max-xxl){
            display: none;
         }
    }
}

.team-details-wrapper {
    .team-image {
        width: 407px;
        position: relative;
        img {
            @include imgw;
        }

        .icon-shape {
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            z-index: -1;
        }
    }

    .team-details-content {

        @include breakpoint(max-xl){
            margin-left: 50px;
        }

        @include breakpoint(max-lg){
            margin-left: 0;
        }
        span {
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500;
            color: $theme-color-2;
        }
        
        h4 {
            margin-bottom: 15px;
        }

        .social-icon {
            margin-top: 30px;
            gap: 10px;

            a {
                width: 45px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                font-size: 16px;
                display: block;
                background: $bg-color;
                color: $theme-color;
                border-radius: 50%;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
                text-align: center;
                border: 1px solid $border-color-2;

                &:hover {
                    background-color: $theme-color-2;
                    color: $white;
                }
            }
        }

        ul {
            margin-top: 30px;
            
            li {
                font-size: 18px;
                &:not(:last-child){
                    margin-bottom: 10px;
                }
                span {
                    font-size: 18px;
                    color: $theme-color;
                    margin-left: 5px;
                    text-transform: capitalize;
                    font-weight: 400;
                }
            }
        }

        .header-title {
            margin-top: 40px;
        }
    }
}

.team-wrapper-2 {
    margin-right: -25%;

    @include breakpoint (max-xl4){
        margin-right: -5%;
    }

    @include breakpoint (max-xxl){
        margin-right: -8%;
    }

    @include breakpoint (max-xl){
        margin-right: 0;
    }

    .team-image-inner {
        padding: 0 25px;

        .team-image {
            position: relative;
            padding: 15px 0;
            z-index: 9;

            @include breakpoint (max-md){
                height: 480px;
            }

            @include breakpoint (max-sm){
                height: 400px;
            }

            &::before {
                position: absolute;
                top: 0;
                bottom: 0;
                left: -30px;
                right: 100px;
                border: 2px solid $theme-color;
                border-radius: 10px;
                content: "";
                transform: skew(17deg);
                transform-origin: left top;
                transition: all .3s ease;
                z-index: -1;
                opacity: .1;
            }

            img {
                @include imgw;
                border-radius: 10px;
                object-fit: cover;
            }

            .social-icon {
                display: grid;
                gap: 10px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 20px;
                opacity: 0;
                visibility: hidden;
                @include transition;

                a {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 5px;
                    background-color: $theme-color;
                    color: $white;
                    @include transition;

                    &:hover {
                        background-color: $theme-color-2;
                        color: $white;
                    }
                }
            }
        }

        .team-content {
            margin-top: 10px;

            h5 {
                a {
                    &:hover {
                        color: $theme-color-2;
                    }
                }
            }
        }

        &:hover {
            .team-image {
                &::before {
                    border: 2px solid $theme-color-2;
                    opacity: 1;
                }

                .social-icon {
                    opacity: 1;
                    visibility: visible;
                    left: -20px;
                }
            }
        }

        &.active {
            .team-image {
                &::before {
                    border: 2px solid $theme-color-2;
                    opacity: 1;
                }

                .social-icon {
                    opacity: 1;
                    visibility: visible;
                    left: -20px;
                }
            }
        }
    }
}