
:root {
    --body: #fff;
    --black: #000;
    --white: #fff;
    --theme: #001659;
    --theme2: #FF5E15;
    --theme3: #ffbc13;
    --header: #001659;
    --header-2: #111;
    --base: #001659;
    --text: #666;
    --text2: #CFCFCF;
    --text2: #444;
    --border: #C5C5C5;
    --border2: #E8E8E9;
    --button: #1C2539;
    --button2: #030734;
    --ratting: #FF9F0D;
    --bg: #F2F3F5;
    --bg2: #DF0A0A0D;
}

// Theme Color - Defualt Colors
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme);
$theme-color-2: var(--theme2);
$theme-color-3: var(--theme3);
$text-color: var(--text);
$text-color-2: var(--text2);
$text-color-3: var(--text3);
$header-color: var(--header);
$header-color-2: var(--header-2);
$border-color: var(--border);
$border-color-2: var(--border2);
$button-color: var(--button);
$ratting-color: var(--ratting);
$bg-color: var(--bg);
$bg-color-2: var(--bg2);
